{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "import",
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-typescript"
  ],
  "rules": { 
    "no-console": 2,
    "react/jsx-filename-extension": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts"]
      }
    }
  },
  "parserOptions": {
    "project": ["./tsconfig.json"]
  }
}
